UPSTASH_REDIS_REST_URL=https://immense-sheep-68289.upstash.io
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAQrBAAIgcDExOTg5ZDU2ZTBmZDM0Mjg3OGEzOTZhNmI1YmUwOGExOA
RUMAHOTP_API_KEY=rk-dev-iNq37Z1arfzUi7jHh8KGY6mWqXHlyhhU
RUMAHOTP_WEBHOOK_ID=WBH-mljEFiSk1d
GMAIL_USER=wanzstock29@gmail.com
GMAIL_APP_PASS=pceh ttbs xjvm wdtq
DIGIFLAZZ_USERNAME=hilecaD2kZkW
DIGIFLAZZ_WEBHOOK_SECRET=walzy