UPSTASH_REDIS_REST_URL=https://game-hornet-81225.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAT1JAAIgcDFlYzhjNzg1MzFhNWY0ZDVlOWEyMGRkMmJjMWE2NzZkNA
RUMAHOTP_API_KEY=rk-dev-iNq37Z1arfzUi7jHh8KGY6mWqXHlyhhU
RUMAHOTP_WEBHOOK_ID=WBH-mljEFiSk1d
GMAIL_USER=wanzstock29@gmail.com
GMAIL_APP_PASS=pceh ttbs xjvm wdtq